<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Site em Flask</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
</head>
<body>
    <h1>Testando gerar sites usando arquivos html e a função render_template</h1>
    <h2>Olá {{nome}}. {{saudacao}}</h2>
</body>
</html>